* text eol=lf

*.bat text eol=crlf

*.jar binary
*.tgz binary
*.zip binary

*/data-lookups/* linguist-language=Ruby
*/evaluations/* linguist-language=Ruby
*/measurements/* linguist-language=Ruby

*/database-exports/* linguist-vendored
