* text eol=lf

*.bat text eol=crlf

*.jar diff=lfs filter=lfs merge=lfs -text
*.tgz diff=lfs filter=lfs merge=lfs -text
*.zip diff=lfs filter=lfs merge=lfs -text

*/data-lookups/* linguist-language=Ruby
*/evaluations/* linguist-language=Ruby
*/measurements/* linguist-language=Ruby

*/database-exports/* linguist-vendored
